body {
    font-family: Arial;
    background: lightblue;
    text-align: center;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;

    background: white;
    border-radius: 15px;
}

#display {
    width: 90%;
    height: 50px;

    font-size: 25px;
    text-align: right;

    margin-bottom: 15px;
}

button {
    width: 60px;
    height: 50px;

    margin: 5px;

    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: lightgray;
}

#message {
    font-weight: bold;
}